html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel-image {
    height: 500px; /* Resimlerin yüksekliðini 500px olarak ayarladýk */
    object-fit: cover; /* Resimleri kesip biçmeden içeri sýðdýrýr */
    width: 100%; /* Resimleri geniþliði 100% olarak ayarlar */
}
